[project]
	description = RedPen interface for proofreading paragraph.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/karronoli (karronoli)
[access "refs/for/refs/*"]
	read = group user/karronoli (karronoli)
	push = group user/karronoli (karronoli)
	label-Code-Review = -2..+2 group user/karronoli (karronoli)
	label-Verified = -1..+1 group user/karronoli (karronoli)
	rebase = group user/karronoli (karronoli)
	removeReviewer = group user/karronoli (karronoli)
	submit = group user/karronoli (karronoli)
[access "refs/heads/*"]
	read = group user/karronoli (karronoli)
	create = group user/karronoli (karronoli)
	push = +force group user/karronoli (karronoli)
	pushMerge = group user/karronoli (karronoli)
[access "refs/tags/*"]
	push = +force group user/karronoli (karronoli)
	pushTag = group user/karronoli (karronoli)
	pushSignedTag = group user/karronoli (karronoli)
